.layout {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 50px auto;
}

.contentLayout {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.leftSection {
    max-width: 100%;
}

.buttonContainer {
    margin-left: 20px;
}

.sideCardContainer {
    margin-top: 180px;
    margin-right: 20px;
}

.overviewContainer {
    margin-left: 20px;
}

.advantageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.advantage {
    min-width: 80px;
}

@media only screen and (min-width: 600px) {
    .advantage {
        max-width: 45%;
    }    
}

.overviewText {
    margin-bottom: 20px;
}
